
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
    <li class="breadcrumb-item active">Extrato</li>
  </ol>
</nav>
<div class="d-flex justify-content-center">
  <h2>Extrato Bancário</h2>
</div>
<div class="mb-3" style="font-weight:bold">BANCO-AG/CC: {{ banco }}-{{ agencia }}/{{ conta }}</div>
<div class="col-12 col-md-12">
  <button type="button" data-toggle="tooltip" data-placement="top" title="Veriicar" style="margin-left: -15px;" class="btn btn-success mb-3" (click)="mostrarSemelhante()">
        <i class="fas fa-plus"></i> Identificar Valores Iguais
  </button>
</div>
<div class="col-12 col-md-12">
  <div class="d-flex justify-content-end">
    <span class="total">Total Crédito Iguais:&nbsp;</span>
    <span class="text-success">{{ sharedService.formatarNumerosDecimais(totalCreditoIgual) }}</span>
  </div>
  <div class="d-flex justify-content-end">
    <span class="total">Total Débito Iguais:&nbsp;</span>
    <span class="text-success">{{ sharedService.formatarNumerosDecimais(totalDebitoIgual) }}</span>
  </div>
  <div class="d-flex justify-content-end">
    <span class="total">Total Crédito Diferente:&nbsp;</span>
    <span class="text-danger">{{ sharedService.formatarNumerosDecimais(totalCreditoDif) }}</span>
  </div>
  <div class="d-flex justify-content-end">
    <span class="total">Total Débito Diferente:&nbsp;</span>
    <span class="text-danger">{{ sharedService.formatarNumerosDecimais(totalDebitoDif) }}</span>
  </div>
  <br/>
</div>
     <table class="table table-hover" style="font-size: 10pt;">
        <thead>
          <tr class="bg-success text-light">
            <th>COD</th>
            <th>DATA</th>
            <th>LANÇAMENTO</th>
            <th>RAZÃO SOCIAL</th>
            <th style="text-align: end;">CRÉDITO</th>
            <th style="text-align: end;">DÉBITO</th>
          </tr>
        </thead>
          <tbody>
           @for(item of extratos; track item.id) {
          <tr>
            <td>
              <strong>{{item.id}}</strong>
            </td>
            <td>
                {{item.data}}
            </td>
            <td>
                {{item.lancamento}}
            </td>
            <td>
                {{ item.razaoSocial }}
            </td>
            <td [ngStyle]="{'color': item.statusCredito ? 'green' : 'red'}" style="text-align: end;">
                <span><a type="button" (click)="maisInformacoesCredito(item)" data-toggle="modal" data-target="#exampleModal">{{ sharedService.formatarNumerosDecimais(item.credito) }}</a></span>
            </td>
            <td [ngStyle]="{'color': item.statusDebito ? 'green' : 'red'}" style="text-align: end;">
                <span><a type="button" (click)="maisInformacoesDebito(item)" data-toggle="modal" data-target="#exampleModal">{{ sharedService.formatarNumerosDecimais(item.debito) }}</a></span>
           </td>
          </tr>
         }
        </tbody>
      </table>
      <hr/>
      <div class="col-12 col-md-12 d-flex justify-content-end" style="font-weight: bold;">
        <span class="col-md-8" style="text-align: end;">Total por Página: </span><span class="col-md-2" style="text-align: end;">{{ sharedService.formatarNumerosDecimais(totalCreditoPagina) }}</span><span class="col-md-2" style="text-align: end;">{{ sharedService.formatarNumerosDecimais(totalDebitoPagina) }}</span>
      </div>
      <form class="needs-validation" novalidate [formGroup]="paginaForm" style="margin-top: 15px;">
          <div class="row col-12 d-flex justify-content-center align-items-center" style="font-size: 10pt;">
            <button type="button" data-toggle="tooltip" data-placement="top" title="Menor" class="btn btn-info" (click)="paginaMenor()">
                <i class="fas fa-minus"></i> Anterior
            </button>
            <div class="form-group" style="margin-top: 15px; text-align: center; width: 120px;"><span>Pág. {{ pagina + 1}}  de {{ totalPages  }}</span></div>
            <button type="button" data-toggle="tooltip" data-placement="top" title="Maior" class="btn btn-info" (click)="paginaMaior()">
              <i class="fas fa-plus"></i> Próximo
            </button>
            <div class="form-group ml-1" style="margin-top: 15px; text-align: center; width: 65px;">
              <select class="form-control" id="pegaTamanho" name="quantPag" formControlName="quantPag" (change)="atualizaPagina()">
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=250>250</option>
                  <option value=500>500</option>
                  <option value=1000>1000</option>
                  <option value=1500>1500</option>
              </select>
            </div>
          <span class="float-right ml-1">Total de registro: {{ totalElements }}</span>
      </div>
    </form>
    @if(modalAbre){
        <div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Dados do {{ tituloModal }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limparModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="modalForm">
                      @if(tituloModal === "Débito"){
                            <div class="form-row col-md-12">
                            <div class="form-group col-md-3">
                              <label for="lancamento">Lançamento:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="lancamento"
                                formControlName = "id"
                                [readOnly]="true"
                              />
                            </div>
                            <div class="form-group col-md-3">
                              <label for="codigoDebito">Cód. Déb.:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="codigoDebito"
                                formControlName = "debitoId"
                              />
                            </div>
                            <div class="form-group col-md-4">
                              <label for="valorDebito">Valor Débito:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="valorDebito"
                                formControlName = "debito"
                                [readOnly]="true"
                              />
                            </div>
                          </div>
                          <hr/>
                          <div class="form-row col-md-12">
                              <div class="form-group col-md-3">
                              <label for="lancamento">Lançamento:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="lancamento"
                                formControlName = "id"
                                [readOnly]="true"
                              />
                            </div>
                            <div class="form-group col-md-3">
                              <label for="codigoCredito">Cód. Créd.:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="codigoCredito"
                                formControlName = "creditoId"
                              />
                            </div>
                            <div class="form-group col-md-4">
                              <label for="valorCredito">Valor Crédito:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="valorCredito"
                                formControlName = "credito"
                                [readOnly]="true"
                              />
                            </div>
                          </div>
                        } @else {
                            <div class="form-row col-md-12">
                                <div class="form-group col-md-3">
                                <label for="lancamento">Lançamento:</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="lancamento"
                                  formControlName = "id"
                                  [readOnly]="true"
                                />
                              </div>
                              <div class="form-group col-md-3">
                                <label for="codigoCredito">Cód. Créd.:</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="codigoCredito"
                                  formControlName = "creditoId"
                                />
                              </div>
                              <div class="form-group col-md-4">
                                <label for="valorCredito">Valor Crédito:</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="valorCredito"
                                  formControlName = "credito"
                                  [readOnly]="true"
                                />
                              </div>
                            </div>
                            <hr/>
                            <div class="form-row col-md-12">
                            <div class="form-group col-md-3">
                              <label for="lancamento">Lançamento:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="lancamento"
                                formControlName = "id"
                                [readOnly]="true"
                              />
                            </div>
                            <div class="form-group col-md-3">
                              <label for="codigoDebito">Cód. Déb.:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="codigoDebito"
                                formControlName = "debitoId"
                              />
                            </div>
                            <div class="form-group col-md-4">
                              <label for="valorDebito">Valor Débito:</label>
                              <input
                                type="text"
                                class="form-control"
                                id="valorDebito"
                                formControlName = "debito"
                                [readOnly]="true"
                              />
                            </div>
                          </div>
                        }
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limparModal()">Fechar</button>
                  <button type="button" class="btn btn-success">Alterar Conciliação</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    }
