    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item active">Filtro</li>
      </ol>
    </nav>
    <form class="needs-validation" novalidate [formGroup]="filtroForm">
      <div class="card" style="box-shadow: 5px 5px 10px #000;">
        <div class="card-header">
          Filtro para Conciliação Contábil e do Extrato Bancario
        </div>
        <div class="card-body">
          <div class="form-row col-md-12">

            <div class="form-group col-md-3">
              <label for="banco">Banco:</label>
              <select class="form-control" id="banco" formControlName="banco">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="agenciaConta">Agência/Conta:</label>
              <select class="form-control" id="agenciaConta" formControlName="agenciaConta">
                <option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="dataInicial">Data Inicial:</label>
              <input
                type="date"
                class="form-control"
                id="dataInicial"
                formControlName="dataInicial"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="dataFinal">Data Final:</label>
              <input
                type="date"
                class="form-control"
                id="dataFinal"
                formControlName="dataFinal"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="tipo">Tipo:</label>
              <select id="dataFinal" class="form-control" formControlName="dataFinal" >
                <option value="" selected></option>
                <option>Extrato</option>
                <option>Contábil</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
